*.classpath
*.hprof
*.idea
*.iml
*.project
*.pyc;
*.pyo;
*.rbc;
*.settings
*.yarb
*~
.DS_Store
.git
.hg
.svn
CVS
pycache
svn
logs
target
out
vssver.scc
vssver2.scc
*.txt
*.svn
idea
out
*.ttf
*.TTC
fonts
